.footer {
	background: $bgColorLight
	border-top 1px solid $neutralColor

	&__container {
		@extend .container
	}

	&__autor {
		font-size: 12px
	}

	&__content {
		padding-top: 20px
		padding-bottom: 20px
	}
}