// durations
$duration = 0.35s

// fonts
$fontFamily = Arial, Helvetica, sans-serif
$fontSize = 16px
$lineHeight = 1.5

//colors
$bgColor = #011226
$bgColorLight = #fff
$textColor = #fff
$textDarkColor = #333
$linkColor = #8806C0
$extraColor = #00F08F
$neutralColor = #E5E5E5
$max-width = 1270px
$padding = 20px

// media conditions
$desktop = '(max-width 1199px)'
$smallTablet = '(max-width 993px)'
$phone = '(max-width 730px)'
$smallPhone = '(max-width 414px)'

//container
$maxWidth = 1270px
